.User-div {
   margin-bottom: 1rem;
}

button {
   padding: 0.5rem 1rem;
   border-radius: 0.45rem;
   border: 1px solid black;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 0.15rem;
}